# Python
venv/
__pycache__/
**/__pycache__/
*.pyc
.env

# Java
attendance/target/
attendance/.mvn/wrapper/maven-wrapper.jar
attendance/*.class

# IDE
.vscode/
.idea/
*.iml

# Model AI (không nên push)
*.pt

# Dataset (nếu không muốn đưa lên GitHub)
dataset/

# File văn bản tạm (nếu thực sự muốn bỏ qua)
# *.txt